@model IEnumerable<Sitio.Models.Factura>

@{
    ViewBag.Title = "Listado Facturas";
}



<h2>Listado de Facturas </h2>

@ViewBag.Mensaje

<p>
    @Html.ActionLink("Volver", "Principal", "Home")
</p>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td> Fecha: @Html.TextBox("FechaFiltro", "") </td>
            <td> Usuario: @Html.TextBox("UsuarioFiltro", "") </td>
            <td><input type="submit" value="Filtrar" class="btn btn-default" /></td>
            <td>  @Html.ActionLink("Limpiar", "FormFacturasFiltrar", null, new { @class = "btn btn-default" }) 
            </td>
        </tr>
    </table>

}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usu)
        </th>
        <th>
            @Html.Label("Cantidad Lineas");
        </th>
        <th></th>
    </tr>

@foreach (Sitio.Models.Factura item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usu.UsuLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListaL.Count)
        </td>
        <td>
            @Html.ActionLink("Consultar", "FormFacturaConsultar", new {  id=item.Nro  }) 
        </td>
    </tr>
}

</table>
