@model IEnumerable<Sitio.Models.LineasFacturas>

@{
    ViewBag.Title = "FormFacturaConsultar";
}

<h2>Lineas de la Factura </h2>

@ViewBag.Mensaje

<p>
    @Html.ActionLink("Volver al Listado", "FormFacturasListar")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Art.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Art.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cant)
        </th>
        <th></th>
    </tr>



@foreach (Sitio.Models.LineasFacturas Item in Model)
{  
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Item.Art.Nombre)
        </td>
     <td>
            @Html.DisplayFor(modelItem => Item.Art.Precio)
     </td>
     <td>
       @Html.DisplayFor(modelItem => Item.Cant)
      </td>
  </tr>
}

</table>