@model Sitio.Models.LineasFacturas

@{
    ViewBag.Title = "FormLineaFacturaAlta";
}

<h2>Alta Linea de Factura</h2>

@ViewBag.Mensaje

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table-bordered">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Cant, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Cant, new { htmlAttributes = new { @class = "form-control" } })
                </td>
            </tr>

            <tr>
                @*No puedo trabajar con Objetos Articulo porque la Vista esta enganchada con la Lineas Facturas
                    por lo tanto puedo mostrar datos pero no devolver*@
                <td>
                    @Html.LabelFor(model => model.CodigoArticulo, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.DropDownListFor(model => model.CodigoArticulo, (SelectList)ViewBag.ListaArticulos)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Agregar Linea" class="btn btn-default" />
                </td>
                <td>
                    @Html.ActionLink("Terminar Factura", "GuardarFactura", null, new { @class = "btn btn-default" })
                </td>
            </tr>
        </table>

       
}

<div>
    @Html.ActionLink("Volver", "Principal", "Home")
</div>
